
.main-signup-container {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.signup-container {
  background: #fff;
  padding: 40px;
  padding-right: 60px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}


.signup-container > div {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
}

.signup-container form label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}


.signup-container form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
}

.signup-container form input:focus {
  border-color: #e63946; 
  box-shadow: 0 0 6px rgba(230,57,70,0.4);
}


.signup-container form button {
  margin-left: 15px;
  width: 100%;
  padding: 10px;
  background: #e63946;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px; 
}


.signup-container form button:hover {
  background: #d62839;
}

.signup-container form p {
  color: red;
  font-size: 12px;
  margin: -12px 0 12px 0; 
  text-align: left;     
}